<% content_for :title, t(:sign_in) -%>

<div id="home">
	<div class="container">	
		<div class="span-12">
		<%= form_tag(sessions_path) do %>
		  
		  <%= label_tag :username, t(:username), :class => 'span-2' %>
		  <%= email_field_tag :username, nil, :class => 'title span-8 append-2 last' %>
		
		  <%= label_tag :password, t(:password), :class => 'span-2' %>
		  <%= password_field_tag :password, nil, :class => 'title span-8 append-2 last' %>

		  <div class="prepend-2 span-5 ">
		  	<%= check_box_tag :remember_me, 'true' %>
		  	<%= label_tag :remember_me, t(:remember_me) %>
		  </div>
		  <div class="span-5 last">
		  	<%= link_to t(:reset_password), new_reset_password_path %>
		  </div>

		  <div class="prepend-2 span-10 last">
			  <button type="submit" class="button big blue">
			  	<img/> Sign in
			  </button> 
		  </div>
		  
		  <div class="span-12 last">
		  </div>
		  
		<% end %>
		</div>
	</div>
</div>